/******************************************
/* CSS
/*******************************************/

*{
  font-family: Poppins;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: #f0f0f0;
  width: 100%;

  /* make the header fixed when scrolling and in front of every other element */
  position: fixed;
  z-index: 999;
  
  /* inital flex-box */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;  
}

.logo {
  text-decoration: none;
  color: #ff0055;
  /* color: #b2003b; */
  /* color: #f5f9fc; */
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: #ff0055;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-right: 30px;
}
.navigation a:hover {
  color: #b2003b;
}

/* 
==============
    main
==============
*/

section {
  /* we add some padding to fix what z-index did */
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  /* flex-box */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bg-img{
  width: 600px;
  height: 600px;
  background: #ff0055;
    /* add image */
  background: url(../img/background.png) no-repeat;
  background-size: cover  ;
  background-position: center;
}

.main h2 {
  /* color: #fff; */
  font-size: 1.4em;
  font-weight: 500;
}

.job-title {
  /* make the span inline-block so I can give it margin.*/
  display: inline-block;
  margin-top: 25px;

  color: #ff0055;
  font-size: 3em;
  font-weight: 600 ;
}

.main h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px; 
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background: #ff0055;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 400;
  
  /* convert to inile-block to add padding*/
  display: inline-block;
  padding: 1em 0.5em;
  margin-bottom: 30px;
  letter-spacing: 1px;

  /* add transtion to the btn */
  transition: 0.3s ease;
}
.main-btn:hover {
  background-color: #ee0055;
  /* made the btn scale a little bit */
  transform: scale(1.1); 
}

.social-icons a{
  color: #ff0055;
  font-size: 1.5em;
  padding-right: 25px;
}

/* 
==============
    section one
==============
*/
.cards {
  background-color: rgb(225, 225, 225);
}

.title {
  display: flex;
  justify-content: center;
  color: #ff0055;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 21em;
  box-shadow:0 5px 25px rgba(1, 1, 1, 15%);
  border-radius: 2px;
  padding: 25px;
  margin: 15px;
  
  /* add transtion to the btn */
  transition: 0.7s ease;
}
.card:hover {
  /* made the btn scale a little bit */
  transform: scale(1.1); 
}

.icon {
  color: #ff0055;
  font-size: 5em;
  text-align: center;
}

.info h4 {
  color: #ff0055;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0;
}